<main>
  <header class="container">
    <app-cart-header [numberItems]="numberItems"></app-cart-header>
  </header>

  <section class="container">
    <app-product-list [products]="products" (onRemoveProduct)="removeProduct($any($event))"></app-product-list>
    <!-- $event là giá trị truyền vào từ emit -->
  </section>

  <section class="container">
    <app-promo-code></app-promo-code>
    <app-cart-summary [tax]="tax" [subTotal]="subTotal"></app-cart-summary>
  </section>
</main>