<div class="summary">
    <ul>
        <li>Subtotal <span>{{subTotal | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></li>
        <li>Tax <span>{{tax}}</span></li>
        <li class="total">Total <span>{{subTotal}}</span></li>
    </ul>
</div>
<div class="checkout">
    <button type="button">Check Out</button>
</div>